body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 150px;
}

h1 {
    color: #000000;
}

.order-details {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: #000000;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}