<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'components/toast.html' %}
    <div class="auth-container">
        {% if request.cookies.get('user_email') %}
        {% include 'utilities/myAccount.html' %}
        {% else %}
        
            {% include 'components/MyDearClub.html' %}
            {% include 'utilities/login.html' %}
            {% include 'components/EnjoyExclusiveBenefits.html' %}
            {% include 'components/CollectPreciousTeaLeaves.html' %}
        {% endif %}
    </div>
</body>

</html>