<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/products/teaBlends.css">
    <title>Tea Blends</title>
</head>

<body>
    {% include 'utilities/header.html' %}
    <div class="mainBodyWrapper">
        <div class="hero-section">
            <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/Banners/collection_Header_Berry_Promp.webp?updatedAt=1738693845689"
                alt="Tea Blends Header Image">
            <div class="hero-content">
                <h1>Fruit Tea</h1>
                <p>Ready for an irresistible burst of fruitiness? Lush flavors of baked apples, forest berries, and hibiscus flowers mingle in our colorful fruit blends.
            </div>
        </div>

        <!-- Featured Products Section -->
        {% include 'utilities/productShowcase.html' %}

        {% with
        image_url="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/Blends/Untitled%20design%20(2).png?updatedAt=1738694788819",
        heading="Our Blends",
        subheading="Extraordinary tea blends for you",
        description="Our Blends are a highlight in your cup – carefully crafted tea blends you must try. Let each cup guide you
        to a new
        world of flavors!"
        %}
        {% include 'components/ourBlends.html' %}
        {% endwith %}
        
        <section class="magazine-section">
            <h1>BLATTÉ Magazine</h1>
            <p class="subtitle">Tea Blends & more</p>
            <div class="magazine-grid">
                <div class="magazine-item">
                    <img src="../static/images/magazines/fruitTea/01.webp"
                        alt="The secrets of tea blending">
                    <h3>Our Family Teas for small & big tea lovers</h3>
                    <p>Blatté created with lots of dedication and love a line of tea suited for small & big tea lovers.</p>
                </div>
                <div class="magazine-item">
                    <img src="../static/images/magazines/fruitTea/02.webp"
                        alt="The Art of Blending">
                    <h3>Our Guide to Fruit Tea – Discover Exceptional Fruit Infusions</h3>
                    <p>We help you discover the popular fruit tea and what makes it so irresistible.</p>
                </div>
                <div class="magazine-item">
                    <img src="../static/images/magazines/fruitTea/03.webp"
                        alt="Fresh up your Mocktail">
                    <h3>Hibiscus</h3>
                    <p>Hibiscus tea is an herbal tea made from the calyces of the Hibiscus sabdariffa plant, native to tropical climates in Africa. The dried calyces produce a naturally caffeine-free, vibrant red infusion with a fruity flavor and sweet-tart notes. Hibiscus can be enjoyed both hot and cold, and its rich taste often makes it a popular ingredient in herbal blends.</p>
                </div>
                <div class="magazine-item">
                    <img src="../static/images/magazines/TeaBlends/04.webp"
                        alt="Attention, Mindfulness">
                    <h3>Attention, Mindfulness: is it all hype or is there something to it?</h3>
                    <p>Mindfulness is often hailed as a miracle cure - but what's really behind it?</p>
                </div>
            </div>
        </section>
        {% include 'components/weLoveWhatWeDo.html' %}
        {% include 'components/yourBenefits.html' %}
    </div>
</body>
{% include '/utilities/footer.html' %}

</html>