<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/products/teaBlends.css">
    <title>Tea Blends</title>
</head>

<body>
    {% include 'utilities/header.html' %}
    <div class="mainBodyWrapper">
        <div class="hero-section">
            <img src="https://www.paperandtea.com/cdn/shop/collections/Tee_Sets_Collection_Page.jpg?v=1723637236&width=2000"
                alt="Tea Blends Header Image">
            <div class="hero-content">
                <h1>Tea Sets</h1>
                <p>Our tea sets combine harmonious flavors, offering you a luxurious tea experience in every cup.</p>
            </div>
        </div>

        <!-- Featured Products Section -->
        <div class="productsWrapper">
            <!-- Section Header -->
            <div class="headingWrapper">
                <h1>New Beginnings</h1>
                <p>Let our pure teas accompany you into the year</p>
            </div>

            <!-- Product Card -->
            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Caffeine free</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Tea-for-Tomorrow_Product-Card_02_2000x2000_aa363a1a-5daa-4bf7-8734-58d8e20e744b.jpg?v=1730191946&width=550"
                        alt="Tea for Tomorrow Collection Box">
                    <button class="wishlist-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="product-tags">
                        <span class="ingredient-tag">Fennel</span>
                        <span class="ingredient-tag">Anis</span>
                        <span class="ingredient-tag">Caraway</span>
                    </div>
                    <p class="category">Herbal</p>
                    <h2 class="product-title">TUMMY KISS</h2>
                    <p class="description">A delicious organic herbal blend with fennel and anise</p>
                    <div class="price-cart">
                        <h6>From € 15,00</h6>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Caffeine free</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Tea-for-Tomorrow_Product-Card_02_2000x2000_aa363a1a-5daa-4bf7-8734-58d8e20e744b.jpg?v=1730191946&width=550"
                        alt="Tea for Tomorrow Collection Box">
                    <button class="wishlist-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="product-tags">
                        <span class="ingredient-tag">Fennel</span>
                        <span class="ingredient-tag">Anis</span>
                        <span class="ingredient-tag">Caraway</span>
                    </div>
                    <p class="category">Herbal</p>
                    <h2 class="product-title">TUMMY KISS</h2>
                    <p class="description">A delicious organic herbal blend with fennel and anise</p>
                    <div class="price-cart">
                        <h6>From € 15,00</h6>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Caffeine free</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Tea-for-Tomorrow_Product-Card_02_2000x2000_aa363a1a-5daa-4bf7-8734-58d8e20e744b.jpg?v=1730191946&width=550"
                        alt="Tea for Tomorrow Collection Box">
                    <button class="wishlist-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="product-tags">
                        <span class="ingredient-tag">Fennel</span>
                        <span class="ingredient-tag">Anis</span>
                        <span class="ingredient-tag">Caraway</span>
                    </div>
                    <p class="category">Herbal</p>
                    <h2 class="product-title">TUMMY KISS</h2>
                    <p class="description">A delicious organic herbal blend with fennel and anise</p>
                    <div class="price-cart">
                        <h6>From € 15,00</h6>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Caffeine free</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Tea-for-Tomorrow_Product-Card_02_2000x2000_aa363a1a-5daa-4bf7-8734-58d8e20e744b.jpg?v=1730191946&width=550"
                        alt="Tea for Tomorrow Collection Box">
                    <button class="wishlist-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="product-tags">
                        <span class="ingredient-tag">Fennel</span>
                        <span class="ingredient-tag">Anis</span>
                        <span class="ingredient-tag">Caraway</span>
                    </div>
                    <p class="category">Herbal</p>
                    <h2 class="product-title">TUMMY KISS</h2>
                    <p class="description">A delicious organic herbal blend with fennel and anise</p>
                    <div class="price-cart">
                        <h6>From € 15,00</h6>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Our Blends Section -->
        <div class="our-blends-section">
            <div class="blends-image">
                <img src="https://www.paperandtea.com/cdn/shop/files/Category_USP_giftsets.jpg?v=1723564774&width=800"
                    alt="Tea Blends Collection">
            </div>
            <div class="blends-content">
                <h2>Happiness in a box</h2>
                <h3>Gift sets from BLATTÉ</h3>
                <p>Our exclusive PAPER & TEA gift sets are thoughtfully curated and packed with love. Tea blends and pure teas come
                together with the perfect accessories – for you, for them, for everyone.</p>

                <div class="features-grid">
                    <div class="feature">
                        <img src="https://www.paperandtea.com/cdn/shop/files/premium-icon.svg?v=1723792199&width=40"
                            alt="Premium Quality">
                        <span>Premium quality</span>
                    </div>
                    <div class="feature">
                        <img src="https://www.paperandtea.com/cdn/shop/files/design-icon.svg?v=1723792785&width=40"
                            alt="Organic">
                        <span>Sophisticated<br>design</span>
                    </div>
                    <div class="feature">
                        <img src="https://www.paperandtea.com/cdn/shop/files/accessories-icon.svg?v=1723797539&width=40"
                            alt="Exclusive">
                        <span>Holistic<br>tea experience</span>
                    </div>
                    <div class="feature">
                        <img src="https://www.paperandtea.com/cdn/shop/files/calendar-icon.svg?v=1723793794&width=40"
                            alt="Design">
                        <span>For all<br>tastes</span>
                    </div>
                </div>
            </div>
        </div>
        <section class="magazine-section">
            <h1>BLATTÉ Magazine</h1>
            <p class="subtitle">Gift Sets & more</p>
            <div class="magazine-grid">
                <div class="magazine-item">
                    <img src="https://www.paperandtea.com/cdn/shop/articles/Golden_Boost_mit_Tasse_520x500_a34e0a0e-98fc-461d-ba57-a939edd2442d.jpg?v=1736437282&width=400"
                        alt="The secrets of tea blending">
                    <h3>Turmeric Tea — Mild Spiciness for Everyday Life</h3>
                        <p>You probably know it from Indian cuisine: we're talking about
                        turmeric, the rich orange sister of ginger.</p>
                </div>
                <div class="magazine-item">
                    <img src="https://www.paperandtea.com/cdn/shop/articles/DSC07808_520x500_4044bef7-9a9e-4594-86bf-3c0f3b26a5ee.jpg?v=1736352540&width=400"
                        alt="The Art of Blending">
                    <h3>Bergamot Meets Tea: The Popular Earl Grey</h3>
                    <p>With its characteristic citrus flavour, Earl Grey enjoys great
                    popularity. We tell you more about the famous tea blend.</p>
                </div>
                <div class="magazine-item">
                    <img src="https://www.paperandtea.com/cdn/shop/articles/Fuji_JapanReise23-3_520x500_520x500_520x500_520x500_1606cd34-6641-4700-a1a0-c0eee4b27a4b.jpg?v=1736511518&width=400"
                        alt="Fresh up your Mocktail">
                    <h3>Our Guide to Green Tea</h3>
                    <p>We introduce you to the different types Of tea, This time: green</p>
                </div>
                <div class="magazine-item">
                    <img src="https://www.paperandtea.com/cdn/shop/articles/T1_Achtsamkeit_2_a89c0333-37c8-4145-b72c-12d516dff467.jpg?v=1738250851&width=400"
                        alt="Attention, Mindfulness">
                    <h3>Attention, Mindfulness: is it all hype or is there something to it?</h3>
                    <p>Mindfulness is often hailed as a miracle cure - but what's really behind it?</p>
                </div>
            </div>
        </section>
        <section class="about-section">
            <div class="about-container">
                <div class="about-image">
                    <img src="https://www.paperandtea.com/cdn/shop/files/brand-teaser.jpg?v=1723556978&width=1000"
                        alt="Two women enjoying tea">
                </div>
                <div class="about-text">
                    <h1>Because we love what we do</h1>
                    <p>
                        Bei PAPER & TEA geht es um bewusste Momente, die wirklich zählen. Wir laden dich ein, neue
                        Geschmackswelten zu entdecken und die Ruhe zu finden, die du suchst. Unsere Produkte sind mit
                        Sorgfalt
                        gestaltet, um Freude zu bereiten. Unser Team lebt für das, was wir tun – um Orte und Erlebnisse
                        zu
                        schaffen, die inspirieren und verbinden. Erfahre mehr über das, was uns antreibt, und begleite
                        uns auf
                        unserem Weg.
                    </p>
                    <button class="learn-more-button">Erfahre mehr über uns</button>
                </div>
            </div>
        </section>
        <div class="container">
            <h1>Deine Vorteile bei Blatté</h1>
            <div class="benefits">
                <div class="benefit">
                    <img src="	https://www.paperandtea.com/cdn/shop/files/delivery-icon.svg?v=1723792199&width=64"
                        alt="Versand Icon">
                    <h2>Kostenloser Versand</h2>
                    <p>Für alle Bestellungen ab 39€</p>
                </div>
                <div class="benefit">
                    <img src="https://www.paperandtea.com/cdn/shop/files/back-icon.svg?v=1723792308&width=64"
                        alt="Rückgabe Icon">
                    <h2>30 Tage Rückgaberecht</h2>
                    <p>Gib einfach zurück was dir nicht gefällt</p>
                </div>
                <div class="benefit">
                    <img src="	https://www.paperandtea.com/cdn/shop/files/gift-icon.svg?v=1723791881&width=64"
                        alt="Geschenke Icon">
                    <h2>Exklusive Geschenke</h2>
                    <p>Mitglied werden und exklusive Geschenke erhalten</p>
                </div>
                <div class="benefit">
                    <img src="	https://www.paperandtea.com/cdn/shop/files/map-icon.svg?v=1723791911&width=64"
                        alt="Store Icon">
                    <h2>In deiner Nähe</h2>
                    <p>Inspiration in über 35 Stores europaweit</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% include '/utilities/footer.html' %}

</html>