<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/products/greenTea.css">
    <title>Green Tea</title>
</head>

<body>
    {% include 'utilities/header.html' %}
    <div class="mainBodyWrapper">
        <div class="hero-section">
            <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/Banners/header-gruener_tee.jpeg?updatedAt=1738516801581"
                alt="Tea Blends Header Image">
            <div class="hero-content">
                <h1>Green Tea
                </h1>
                <p>Green tea's charm lies in its ability to surprise. From the vibrant, grassy Sencha to the rich umami of Gyokuro, each cup embodies a different story.
            </div>
        </div>

        <!-- Featured Products Section -->
        {% include 'utilities/productShowcase.html' %}
        
        <!-- Featured Products Section -->
        {% with
        image_url="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/Blends/GreenTeaBlend.webp?updatedAt=1738516637323",
        heading="Origins Collection",
        subheading="Premium whole leaf and herbal teas",
        description="Our Origins bring the variety of our handcrafted premium whole-leaf teas and herbs. A flavorful journey through the
        world’s best tea-growing regions."
        %}
        {% include 'components/ourBlends.html' %}
        {% endwith %}
        
        <section class="magazine-section">
            <h1>BLATTÉ Magazine</h1>
            <p class="subtitle">Tea Blends & more</p>
            <div class="magazine-grid">
                <div class="magazine-item">
                    <img src="../static/images/magazines/greenTea/Magazine_01.webp"
                        alt="The secrets of tea blending">
                    <h3>Our Guide to Green Tea</h3>
                    <p>We introduce you to the different types of tea. This time: green tea.
                    </p>
                </div>
                <div class="magazine-item">
                    <img src="../static/images/magazines/greenTea/Magazine_02.webp"
                        alt="The Art of Blending">
                    <h3>Caffeine in Green Tea: A Small Discovery Journey</h3>
                    <p>Drink green tea for a boost in the morning? Get to know the effects of caffeine.
                    </p>
                </div>
                <div class="magazine-item">
                    <img src="../static/images/magazines/greenTea/Magazine_03.webp"
                        alt="Fresh up your Mocktail">
                    <h3>Genmaicha: Fascinating Japanese Tea with Rice Flavor
                    </h3>
                    <p>All about Genmaicha: Japan's exciting popcorn tea.
                    </p>
                </div>
                <div class="magazine-item">
                    <img src="../static/images/magazines/greenTea/Magazine_04.webp"
                        alt="Attention, Mindfulness">
                    <h3>Attention, Mindfulness: is it all hype or is there something to it?
                    </h3>
                    <p>Mindfulness is often hailed as a miracle cure - but what's really behind it?
                    </p>
                </div>
            </div>
        </section>
        {% include 'components/weLoveWhatWeDo.html' %}
        {% include 'components/yourBenefits.html' %}
    </div>
</body>
{% include '/utilities/footer.html' %}

</html>