<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/store.css">
</head>
<body>
    {% include 'utilities/header.html' %}
    <div class="container">
        <h1>Our Stores</h1>
        <div class="description">
            <p>BLATTÉ is a space where everyone is invited to celebrate togetherness, share ideas, and discover the
                beauty of life. Through our commitment to quality, limitless aesthetics, mindfulness, and artistry, we
                strive to offer products, experiences, and services that bring a smile to your face.</p>
            <p>We are continuously growing and opening new spaces throughout Europe. Maybe soon in your neighborhood?</p>
        </div>
    
        <div class="filters">
            <button>Show all</button>
            <button>Germany</button>
            <button>Austria</button>
            <button>Switzerland</button>
            <button>Belgium</button>
            <button>Netherlands</button>
            <button>Norway</button>
            <button>Denmark</button>
        </div>
    
        <!-- Store list -->
        <div class="store-list">
            <!-- Store 1 -->
            <div class="store">
                <div class="store-image">
                    <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/shop/09.jpeg?updatedAt=1740464932207" 
                    alt="Utrecht Store">
                </div>
                <div class="store-info">
                    <h2>Utrecht</h2>
                    <p>Oudegracht 154<br>3511 AZ Utrecht</p>
                    <p>Phone: <a href="tel:+31643775856">+31 6 43775856</a></p>
                    <p>E-Mail: <a href="mailto:wecare@paperandtea.com">wecare@paperandtea.com</a></p>
                    <div class="hours">
                        <p>Mon: 10:00 am - 6:00 pm</p>
                        <p>Tue: 10:00 am - 6:00 pm</p>
                        <p>Wed: 10:00 am - 6:00 pm</p>
                        <p>Thu: 10:00 am - 6:00 pm</p>
                        <p>Fri: 10:00 am - 6:00 pm</p>
                        <p>Sat: 10:00 am - 6:00 pm</p>
                        <p>Sun: 12:00 pm - 6:00 pm</p>
                    </div>
                    <button class="route-button">Route</button>
                </div>
            </div>

            <!-- Store 2 -->
            <div class="store">
                <div class="store-info">
                    <h2>Bruges</h2>

                    <p>Steenstraat 30<br>8000 Bruges</p>
                    <p>Phone: <a href="tel:+32470886539">+32 470 88 65 39</a></p>
                    <p>E-Mail: <a href="mailto:wecare@paperandtea.com">wecare@paperandtea.com</a></p>
                    <div class="hours">
                        <p>Mon: 10:00 am - 6:00 pm</p>
                        <p>Tue: 10:00 am - 6:00 pm</p>
                        <p>Wed: 10:00 am - 6:00 pm</p>
                        <p>Thu: 10:00 am - 6:30 pm</p>
                        <p>Fri: 10:00 am - 6:30 pm</p>
                        <p>Sat: 10:00 am - 6:30 pm</p>
                        <p>Sun: Closed</p>
                    </div>
                    <button class="route-button">Route</button>
                </div>
                <div class="store-image">
                    <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/shop/12.jpeg?updatedAt=1740464937123" 
                    alt="Bruges Store">
                </div>
            </div>

            <!-- Store 3 -->
            <div class="store">
                <div class="store-image">
                    <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/shop/07.jpeg?updatedAt=1740464932505"
                        alt="Hannover Store">
                </div>
                <div class="store-info">
                    <h2>Hannover</h2>
                    <p>Georgstraße 36<br>30159 Hannover</p>
                    <p>Phone: <a href="tel:+31643775856">+49 175 5594434</a></p>
                    <p>E-Mail: <a href="mailto:wecare@paperandtea.com">wecare@paperandtea.com</a></p>
                    <div class="hours">
                        <p>Mon: 10:00 am - 7:00 pm</p>
                        <p>Tue: 10:00 am - 7:00 pm</p>
                        <p>Wed: 10:00 am - 7:00 pm</p>
                        <p>Thu: 10:00 am - 7:00 pm</p>
                        <p>Fri: 10:00 am - 7:00 pm</p>
                        <p>Sat: 10:00 am - 7:00 pm</p>
                        <p>Sun: Closed</p>
                    </div>
                    <button class="route-button">Route</button>
                </div>
            </div>

            <!-- Store 4 -->
            <div class="store">
                <div class="store-info">
                    <h2>Vienna</h2>
                    <p>Walfischgasse 1<br>1010 Wien</p>
                    <p>Phone: <a href="tel:+32470886539">+43 664 9217351</a></p>
                    <p>E-Mail: <a href="mailto:wecare@paperandtea.com">wecare@paperandtea.com</a></p>
                    <div class="hours">
                        <p>Mon: 10:00 am - 7:00 pm</p>
                        <p>Tue: 10:00 am - 7:00 pm</p>
                        <p>Wed: 10:00 am - 7:00 pm</p>
                        <p>Thu: 10:00 am - 7:00 pm</p>
                        <p>Fri: 10:00 am - 7:00 pm</p>
                        <p>Sat: 10:00 am - 7:00 pm</p>
                        <p>Sun: Closed</p>
                    </div>
                    <button class="route-button">Route</button>
                </div>
                <div class="store-image">
                    <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/shop/06.jpeg?updatedAt=1740464931981"
                        alt="Vienna Store">
                </div>
            </div>

            <!-- Store 5 -->
            <div class="store">
                <div class="store-image">
                    <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/shop/15.jpeg?updatedAt=1740464937963"
                        alt="Zurich Store">
                </div>
                <div class="store-info">
                    <h2>Zurich</h2>
                    <p>Rennweg 36<br>8001 Zürich</p>
                    <p>Phone: <a href="tel:+31643775856">+41 79 193 80 00</a></p>
                    <p>E-Mail: <a href="mailto:wecare@paperandtea.com">wecare@paperandtea.com</a></p>
                    <div class="hours">
                        <p>Mon: 10:00 am - 7:00 pm</p>
                        <p>Tue: 10:00 am - 7:00 pm</p>
                        <p>Wed: 10:00 am - 7:00 pm</p>
                        <p>Thu: 10:00 am - 7:00 pm</p>
                        <p>Fri: 10:00 am - 7:00 pm</p>
                        <p>Sat: 10:00 am - 7:00 pm</p>
                        <p>Sun: Closed</p>
                    </div>
                    <button class="route-button">Route</button>
                </div>
            </div>

            <!-- Store 6 -->
            <div class="store">
                <div class="store-info">
                    <h2>Bonn</h2>
                    <p>Remigiusstraße 3<br>53111 Bonn</p>
                    <p>Phone: <a href="tel:+32470886539">+49 1579 2622287</a></p>
                    <p>E-Mail: <a href="mailto:wecare@paperandtea.com">wecare@paperandtea.com</a></p>
                    <div class="hours">
                        <p>Mon: 10:00 am - 7:00 pm</p>
                        <p>Tue: 10:00 am - 7:00 pm</p>
                        <p>Wed: 10:00 am - 7:00 pm</p>
                        <p>Thu: 10:00 am - 7:00 pm</p>
                        <p>Fri: 10:00 am - 7:00 pm</p>
                        <p>Sat: 10:00 am - 7:00 pm</p>
                        <p>Sun: Closed</p>
                    </div>
                    <button class="route-button">Route</button>
                </div>
                <div class="store-image">
                    <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/shop/11.jpeg?updatedAt=1740464935296"
                        alt="Bonn Store">
                </div>
            </div>

            <!-- store 7 -->
            <div class="store">
                <div class="store-image">
                    <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/shop/03.jpeg?updatedAt=1740464931975"
                        alt="Leipzig Store">
                </div>
                <div class="store-info">
                    <h2>Leipzig</h2>
                    <p>Grimmaische Straße 2-4<br>04109 Leipzig</p>
                    <p>Phone: <a href="tel:+31643775856">+49 1579 2622289</a></p>
                    <p>E-Mail: <a href="mailto:wecare@paperandtea.com">wecare@paperandtea.com</a></p>
                    <div class="hours">
                        <p>Mon: 11:00 am - 7:00 pm</p>
                        <p>Tue: 11:00 am - 7:00 pm</p>
                        <p>Wed: 11:00 am - 7:00 pm</p>
                        <p>Thu: 11:00 am - 7:00 pm</p>
                        <p>Fri: 11:00 am - 7:00 pm</p>
                        <p>Sat: 10:00 am - 6:00 pm</p>
                        <p>Sun: Closed</p>
                    </div>
                    <button class="route-button">Route</button>
                </div>
            </div>
            
            <!-- Store 8 -->
            <div class="store">
                <div class="store-info">
                    <h2>Stuttgart</h2>
                    <p>Königstraße 21<br>70173 Stuttgart</p>
                    <p>Phone: <a href="tel:+32470886539">+49 170 4891749</a></p>
                    <p>E-Mail: <a href="mailto:wecare@paperandtea.com">wecare@paperandtea.com</a></p>
                    <div class="hours">
                        <p>Mon: 10:00 am - 7:00 pm</p>
                        <p>Tue: 10:00 am - 7:00 pm</p>
                        <p>Wed: 10:00 am - 7:00 pm</p>
                        <p>Thu: 10:00 am - 7:00 pm</p>
                        <p>Fri: 10:00 am - 7:00 pm</p>
                        <p>Sat: 10:00 am - 7:00 pm</p>
                        <p>Sun: Closed</p>
                    </div>
                    <button class="route-button">Route</button>
                </div>
                <div class="store-image">
                    <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/shop/10.jpeg?updatedAt=1740464931421"
                        alt="Stuttgart Store">
                </div>
            </div>
        </div>
    </div>
    {% include 'components/weLoveWhatWeDo.html' %}
    {% include 'components/yourBenefits.html' %}
    {% include 'utilities/footer.html' %}
</body>
</html>