<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/products/teaBlends.css">
    <title>Tea Blends</title>
</head>

<body>
    {% include 'utilities/header.html' %}
    <div class="mainBodyWrapper">
        <div class="hero-section">
            <img src="https://www.paperandtea.com/cdn/shop/collections/Collection_Header.jpg?v=1724072203&width=2200"
                alt="Tea Blends Header Image">
            <div class="hero-content">
                <h1>Tea Blends</h1>
                <p>Blending high-quality organic ingredients like tea leaves, herbs, blossoms, and fruits, we create
                    exceptional recipes that you can only find at PAPER & TEA.</p>
            </div>
        </div>

        <!-- Featured Products Section -->
        <div class="productsWrapper">
            <!-- Section Header -->
            <div class="headingWrapper">
                <h1>New Beginnings</h1>
                <p>Let our pure teas accompany you into the year</p>
            </div>

            <!-- Product Card -->
            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Caffeine free</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Tea-for-Tomorrow_Product-Card_02_2000x2000_aa363a1a-5daa-4bf7-8734-58d8e20e744b.jpg?v=1730191946&width=550"
                        alt="Tea for Tomorrow Collection Box">
                    <button class="wishlist-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="product-tags">
                        <span class="ingredient-tag">Fennel</span>
                        <span class="ingredient-tag">Anis</span>
                        <span class="ingredient-tag">Caraway</span>
                    </div>
                    <p class="category">Herbal</p>
                    <h2 class="product-title">TUMMY KISS</h2>
                    <p class="description">A delicious organic herbal blend with fennel and anise</p>
                    <div class="price-cart">
                        <h6>From € 15,00</h6>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Caffeine free</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Tea-for-Tomorrow_Product-Card_02_2000x2000_aa363a1a-5daa-4bf7-8734-58d8e20e744b.jpg?v=1730191946&width=550"
                        alt="Tea for Tomorrow Collection Box">
                    <button class="wishlist-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="product-tags">
                        <span class="ingredient-tag">Fennel</span>
                        <span class="ingredient-tag">Anis</span>
                        <span class="ingredient-tag">Caraway</span>
                    </div>
                    <p class="category">Herbal</p>
                    <h2 class="product-title">TUMMY KISS</h2>
                    <p class="description">A delicious organic herbal blend with fennel and anise</p>
                    <div class="price-cart">
                        <h6>From € 15,00</h6>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Caffeine free</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Tea-for-Tomorrow_Product-Card_02_2000x2000_aa363a1a-5daa-4bf7-8734-58d8e20e744b.jpg?v=1730191946&width=550"
                        alt="Tea for Tomorrow Collection Box">
                    <button class="wishlist-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="product-tags">
                        <span class="ingredient-tag">Fennel</span>
                        <span class="ingredient-tag">Anis</span>
                        <span class="ingredient-tag">Caraway</span>
                    </div>
                    <p class="category">Herbal</p>
                    <h2 class="product-title">TUMMY KISS</h2>
                    <p class="description">A delicious organic herbal blend with fennel and anise</p>
                    <div class="price-cart">
                        <h6>From € 15,00</h6>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Caffeine free</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Tea-for-Tomorrow_Product-Card_02_2000x2000_aa363a1a-5daa-4bf7-8734-58d8e20e744b.jpg?v=1730191946&width=550"
                        alt="Tea for Tomorrow Collection Box">
                    <button class="wishlist-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="product-tags">
                        <span class="ingredient-tag">Fennel</span>
                        <span class="ingredient-tag">Anis</span>
                        <span class="ingredient-tag">Caraway</span>
                    </div>
                    <p class="category">Herbal</p>
                    <h2 class="product-title">TUMMY KISS</h2>
                    <p class="description">A delicious organic herbal blend with fennel and anise</p>
                    <div class="price-cart">
                        <h6>From € 15,00</h6>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Our Blends Section -->
        <div class="our-blends-section">
            <div class="blends-image">
                <img src="https://www.paperandtea.com/cdn/shop/files/Category_USP_teablends.jpg?v=1724335414&width=1200"
                    alt="Tea Blends Collection">
            </div>
            <div class="blends-content">
                <h2>Our Blends</h2>
                <h3>Extraordinary tea blends for you</h3>
                <p>Our Blends are a highlight in your cup – carefully crafted tea blends you must try. Let each cup
                    guide you to a new world of flavors!</p>

                <div class="features-grid">
                    <div class="feature">
                        <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/Icons/e96cca60-6b20-42cb-9de8-3a7ddd18863c.svg?updatedAt=1738305341233"
                            alt="Premium Quality">
                        <span>Premium<br>quality</span>
                    </div>
                    <div class="feature">
                        <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/Icons/organic-icon.svg?updatedAt=1738305341250"
                            alt="Organic">
                        <span>Certified<br>organic ingredients</span>
                    </div>
                    <div class="feature">
                        <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/Icons/award-icon.svg?updatedAt=1738305341161"
                            alt="Exclusive">
                        <span>Exclusive from<br>PAPER & TEA</span>
                    </div>
                    <div class="feature">
                        <img src="https://ik.imagekit.io/5emcramny/Blatt%C3%A9/Icons/design-icon.svg?updatedAt=1738305341170"
                            alt="Design">
                        <span>Unique design</span>
                    </div>
                </div>
            </div>
        </div>
        <section class="magazine-section">
            <h1>BLATTÉ Magazine</h1>
            <p class="subtitle">Tea Blends & more</p>
            <div class="magazine-grid">
                <div class="magazine-item">
                    <img src="https://cdn.shopify.com/s/files/1/0661/4443/6444/files/Tea_Blends-Banner-Paper_and_Tea.jpg?v=1690903674&width=400"
                        alt="The secrets of tea blending">
                    <h3>The secrets of tea blending</h3>
                    <p>Tea blends allow you to enter the fascinating universe of teas with their palette of varied
                        tastes and
                        exceptional nuances.</p>
                </div>
                <div class="magazine-item">
                    <img src="https://www.paperandtea.com/cdn/shop/articles/Teeblatter_aufgeblasen_f413cde9-26c4-4498-b224-0fe52f028b19.jpg?v=1736355555&width=400"
                        alt="The Art of Blending">
                    <h3>The Art of Blending: Our Master Blends</h3>
                    <p>Tea blends are true masterpieces. PAPER & TEA Master Blends are masterly created, composed of
                        premium
                        ingredients, and filled.</p>
                </div>
                <div class="magazine-item">
                    <img src="https://cdn.shopify.com/s/files/1/0255/8319/0068/files/Summer_Campaign_Part_2_featured_blog_1000x1333_a4433b01-461c-423a-a723-aac9f78a11a7.jpg?v=1721897124&width=400"
                        alt="Fresh up your Mocktail">
                    <h3>Fresh up your Mocktail: Ice-cold refreshment</h3>
                    <p>We've curated creative and delicious mocktail recipes to refresh you like never before.</p>
                </div>
                <div class="magazine-item">
                    <img src="https://www.paperandtea.com/cdn/shop/articles/T1_Achtsamkeit_2_a89c0333-37c8-4145-b72c-12d516dff467.jpg?v=1738250851&width=400"
                        alt="Attention, Mindfulness">
                    <h3>Attention, Mindfulness: is it all hype or is there something to it?</h3>
                    <p>Mindfulness is often hailed as a miracle cure - but what's really behind it?</p>
                </div>
            </div>
        </section>
        <section class="about-section">
            <div class="about-container">
                <div class="about-image">
                    <img src="https://www.paperandtea.com/cdn/shop/files/brand-teaser.jpg?v=1723556978&width=1000"
                        alt="Two women enjoying tea">
                </div>
                <div class="about-text">
                    <h1>Because we love what we do</h1>
                    <p>
                        Bei PAPER & TEA geht es um bewusste Momente, die wirklich zählen. Wir laden dich ein, neue
                        Geschmackswelten zu entdecken und die Ruhe zu finden, die du suchst. Unsere Produkte sind mit
                        Sorgfalt
                        gestaltet, um Freude zu bereiten. Unser Team lebt für das, was wir tun – um Orte und Erlebnisse
                        zu
                        schaffen, die inspirieren und verbinden. Erfahre mehr über das, was uns antreibt, und begleite
                        uns auf
                        unserem Weg.
                    </p>
                    <button class="learn-more-button">Erfahre mehr über uns</button>
                </div>
            </div>
        </section>
        <div class="container">
            <h1>Deine Vorteile bei Blatté</h1>
            <div class="benefits">
                <div class="benefit">
                    <img src="	https://www.paperandtea.com/cdn/shop/files/delivery-icon.svg?v=1723792199&width=64" alt="Versand Icon">
                    <h2>Kostenloser Versand</h2>
                    <p>Für alle Bestellungen ab 39€</p>
                </div>
                <div class="benefit">
                    <img src="https://www.paperandtea.com/cdn/shop/files/back-icon.svg?v=1723792308&width=64" alt="Rückgabe Icon">
                    <h2>30 Tage Rückgaberecht</h2>
                    <p>Gib einfach zurück was dir nicht gefällt</p>
                </div>
                <div class="benefit">
                    <img src="	https://www.paperandtea.com/cdn/shop/files/gift-icon.svg?v=1723791881&width=64" alt="Geschenke Icon">
                    <h2>Exklusive Geschenke</h2>
                    <p>Mitglied werden und exklusive Geschenke erhalten</p>
                </div>
                <div class="benefit">
                    <img src="	https://www.paperandtea.com/cdn/shop/files/map-icon.svg?v=1723791911&width=64" alt="Store Icon">
                    <h2>In deiner Nähe</h2>
                    <p>Inspiration in über 35 Stores europaweit</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% include '/utilities/footer.html' %}

</html>