<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/products/teaBlends.css">
    <title>Tea Blends</title>
</head>

<body>
    {% include 'utilities/header.html' %}
    <div class="mainBodyWrapper">
        <div class="hero-section">
            <img src="https://www.paperandtea.com/cdn/shop/collections/Collection_Header.jpg?v=1724072203&width=2200"
                alt="Tea Blends Header Image">
            <div class="hero-content">
                <h1>Tea Blends</h1>
                <p>Blending high-quality organic ingredients like tea leaves, herbs, blossoms, and fruits, we create
                    exceptional recipes that you can only find at PAPER & TEA.</p>
            </div>
        </div>

        <!-- Featured Products Section -->
        <div class="productsWrapper">
            <!-- Section Header -->
            <div class="headingWrapper">
                <h1>New Beginnings</h1>
                <p>Let our pure teas accompany you into the year</p>
            </div>

            <!-- Product Card -->
            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Neu</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Blue_20Earl_Caddy_2000x2000_e449f7a4-eacf-4b31-ae08-168c4868de8d.webp?v=1737522125&width=600" alt="Blue Earl Tea">
                    <button class="wishlist-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="flavor-tags">
                        <span class="flavor-tag">Bergamot</span>
                        <span class="flavor-tag">Orange Zest</span>
                        <span class="flavor-tag">Lilac</span>
                    </div>
                    <p class="category">Black Tea</p>
                    <h2 class="product-title">BLUE EARL</h2>
                    <p class="description">Indian organic black tea with bergamot oil and cornflower petals</p>
                    <div class="price-cart">
                        <span class="price">From € 22,00</span>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Neu</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Praise_20of_20Shadows_Caddy_2000x2000_5ee3e51b-7c17-43f5-a2c8-8ffeb1a295ec.webp?v=1734510854&width=600" alt="Blue Earl Tea">
                    <button class="wishlist-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="flavor-tags">
                        <span class="flavor-tag">Bergamot</span>
                        <span class="flavor-tag">Orange Zest</span>
                        <span class="flavor-tag">Lilac</span>
                    </div>
                    <p class="category">Black Tea</p>
                    <h2 class="product-title">BLUE EARL</h2>
                    <p class="description">Indian organic black tea with bergamot oil and cornflower petals</p>
                    <div class="price-cart">
                        <span class="price">From € 22,00</span>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Neu</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Golden-Earl_20_20_1.webp?v=1732169077&width=600" alt="Blue Earl Tea">
                    <button class="wishlist-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="flavor-tags">
                        <span class="flavor-tag">Bergamot</span>
                        <span class="flavor-tag">Orange Zest</span>
                        <span class="flavor-tag">Lilac</span>
                    </div>
                    <p class="category">Black Tea</p>
                    <h2 class="product-title">BLUE EARL</h2>
                    <p class="description">Indian organic black tea with bergamot oil and cornflower petals</p>
                    <div class="price-cart">
                        <span class="price">From € 22,00</span>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>

            <div class="productWrapper">
                <div class="productImage">
                    <div class="tags">
                        <span class="tag">Neu</span>
                    </div>
                    <img src="https://www.paperandtea.com/cdn/shop/files/Mighty_20Green_20N319_11187_20.png?v=1718334128&width=600" alt="Blue Earl Tea">
                    <button class="wishlist-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </button>
                </div>
                <div class="productInfo">
                    <div class="flavor-tags">
                        <span class="flavor-tag">Bergamot</span>
                        <span class="flavor-tag">Orange Zest</span>
                        <span class="flavor-tag">Lilac</span>
                    </div>
                    <p class="category">Black Tea</p>
                    <h2 class="product-title">BLUE EARL</h2>
                    <p class="description">Indian organic black tea with bergamot oil and cornflower petals</p>
                    <div class="price-cart">
                        <span class="price">From € 22,00</span>
                        <button class="cart-btn">
                            <img src="../static/images/svgs/shopping-cart-add-02-stroke-rounded.svg" alt="cart">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% with image_url="https://www.paperandtea.com/cdn/shop/files/Category_USP_teablends.jpg?v=1724335414&width=1200" %}
            {% include 'components/ourBlends.html' %}
        {% endwith %}
        
        <section class="magazine-section">
            <h1>BLATTÉ Magazine</h1>
            <p class="subtitle">Tea Blends & more</p>
            <div class="magazine-grid">
                <div class="magazine-item">
                    <img src="https://cdn.shopify.com/s/files/1/0661/4443/6444/files/Tea_Blends-Banner-Paper_and_Tea.jpg?v=1690903674&width=400"
                        alt="The secrets of tea blending">
                    <h3>The secrets of tea blending</h3>
                    <p>Tea blends allow you to enter the fascinating universe of teas with their palette of varied
                        tastes and
                        exceptional nuances.</p>
                </div>
                <div class="magazine-item">
                    <img src="https://www.paperandtea.com/cdn/shop/articles/Teeblatter_aufgeblasen_f413cde9-26c4-4498-b224-0fe52f028b19.jpg?v=1736355555&width=400"
                        alt="The Art of Blending">
                    <h3>The Art of Blending: Our Master Blends</h3>
                    <p>Tea blends are true masterpieces. BLATTÉ Master Blends are masterly created, composed of
                        premium
                        ingredients, and filled.</p>
                </div>
                <div class="magazine-item">
                    <img src="https://cdn.shopify.com/s/files/1/0255/8319/0068/files/Summer_Campaign_Part_2_featured_blog_1000x1333_a4433b01-461c-423a-a723-aac9f78a11a7.jpg?v=1721897124&width=400"
                        alt="Fresh up your Mocktail">
                    <h3>Fresh up your Mocktail: Ice-cold refreshment</h3>
                    <p>We've curated creative and delicious mocktail recipes to refresh you like never before.</p>
                </div>
                <div class="magazine-item">
                    <img src="https://www.paperandtea.com/cdn/shop/articles/T1_Achtsamkeit_2_a89c0333-37c8-4145-b72c-12d516dff467.jpg?v=1738250851&width=400"
                        alt="Attention, Mindfulness">
                    <h3>Attention, Mindfulness: is it all hype or is there something to it?</h3>
                    <p>Mindfulness is often hailed as a miracle cure - but what's really behind it?</p>
                </div>
            </div>
        </section>
        {% include 'components/weLoveWhatWeDo.html' %}
        {% include 'components/yourBenefits.html' %}
    </div>
</body>
{% include '/utilities/footer.html' %}

</html>