<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/products/teaBlends.css">
    <title>Tea Blends</title>
</head>
<body>
    {% include 'utilities/header.html' %}
    <div class="mainBodyWrapper">
        <div class="hero-section">
            <img src="https://www.paperandtea.com/cdn/shop/collections/Collection_Header.jpg?v=1724072203&width=2200" alt="Tea Blends Header Image">
            <div class="hero-content">
                <h1>Tea Blends</h1>
                <p>Blending high-quality organic ingredients like tea leaves, herbs, blossoms, and fruits, we create exceptional recipes that you can only find at PAPER & TEA.</p>
            </div>
        </div>
    </div>
</body>
</html>